table {
	border-collapse: collapse;
	margin-top: 20px;
}

th, td {
	border: 1px solid black;
	padding: 5px;
}

th {
	background-color: #ccc;
	font-weight: bold;
}

tbody tr:nth-child(even) {
	background-color: #f2f2f2;
}

#fetch-data-btn {
	margin-top: 20px;
	font-size: 18px;
	padding: 10px;
	background-color: #0077be;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#fetch-data-btn:hover {
	background-color: #005da1;
}

img{
  width: 30%;
}